In [1]:
def print_my_name(name):
    print("YOUR NAME IS->",name)

In [2]:
print_my_name("shashank")

YOUR NAME IS-> shashank

In [3]:
def mult(a=1,b=1):
    return a**b

In [4]:
mult(10,20)

100000000000000000000

In [5]:
mult(10)

10

In [9]:
def multiply(*arges):
    product=1
    
    for i in arges:
        product=product*i
    
    return product

In [11]:
multiply(10,20,30,1000000)

6000000000

In [12]:
def display(**kargs):
    for(key,value) in kargs.items():
        print(key,"->",value)

In [13]:
display(india="dehli",srilanka="colombo",nepal="katmandu")

india -> dehli
srilanka -> colombo
nepal -> katmandu

In [24]:
def squre(num):
    return num**2
type(squre)
id(squre)

2518494999840

In [25]:
x=squre
x(10)

100

In [26]:
squre(3)

9

In [28]:
L=[1,2,3,4,squre]
L

[1, 2, 3, 4, <function __main__.squre(num)>]

In [29]:
SHUKLA=lambda x:x**2
SHUKLA(10)

100