Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

Plan of attack
Creating a Tuple
Accessing items
Editing items
Adding items
Deleting items
Operations on Tuples
Tuple Functions

In [7]:
t1=()
print(t1)
t2=("hello",)
print(t2)
t3=(1,2,3)
print(t3)
t4=(1,2,5,True,[1,2,3])
print(t4)
t5=(1,2,3,(4,5,6))
print(t5)
t6=tuple("hello")
print(t6)

()
('hello',)
(1, 2, 3)
(1, 2, 5, True, [1, 2, 3])
(1, 2, 3, (4, 5, 6))
('h', 'e', 'l', 'l', 'o')

In [13]:
print(t3)
print(t3[0])
print(t3[-1])
print(t3[0:3])

(1, 2, 3)
1
3
(1, 2, 3)

In [14]:
print(t3)
del t3
print(t3)

(1, 2, 3)

NameError: name 't3' is not defined

In [15]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*3)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [19]:
t=(1,2,3,4)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t,reverse=True))

4
10
1
4
[4, 3, 2, 1]

In [20]:
a,b,c=(1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [21]:
a,b,*others=(1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [22]:
a=(1,1,3,4)
b=(5,6,7,8)

tuple(zip(a,b))

((1, 5), (1, 6), (3, 7), (4, 8))

Sets
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:

Unordered
Mutable
No Duplicates
Can't contain mutable data types

In [26]:
s1={1,2,3}
print(s1)
s3={1,"hello",4.5,True}
print(s3)

{1, 2, 3}
{1, 4.5, 'hello'}

In [29]:
s={1,2,3,4,5}
s.add(10)
print(s)
s.update([20,30,40])
print(s)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 20, 30, 40}

In [33]:
s={1,2,3,4,5}
# print(s)
# del s
# print(s)

# s.discard(5)
s.remove(5)
print(s)

{1, 2, 3, 4}

In [42]:
s1={1,2,3,4,5,6}
s2={7,8,9,10,11}

s1|s2
s1 & s2
s1-s2
s2-s1
1 not in s1
for i in s1:
    print(i)

1
2
3
4
5
6

In [48]:
s1={10,20,30,40,50,60,70,80}
print(len(s1))
print(sum(s1))
print(max(s1))
print(min(s1))
print(sorted(s1,reverse=True))

8
360
80
10
[80, 70, 60, 50, 40, 30, 20, 10]

In [49]:
s1={10,20,30,40}
s2={20,60,80,100}

s1.isdisjoint(s2)

False

In [50]:
s1={1,2,3,4,5}
s2={1,2,5}

s1.issubset(s2)

False

Frozenset
Frozen set is just an immutable version of a Python set object

In [51]:
fs=frozenset([1,2,3])
fs

frozenset({1, 2, 3})

Dictionary
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

In [58]:
d1={"name":"shukla","age":30,"gender":"male"}
d2={(1,2,3):1,'Hello':"shukla"}
d3={
    "name":"shukla",
    "age":"20",
    "gender":"male",
    "subject":{
        "dsa":55,
        "maths":20
    }
}
d4=dict([("name","nistish"),("age",30),(3,3)])
d5={"name":"shukla","name":"shashank"}

{'name': 'shashank'}

In [73]:
my_dict={"name":"shukla","age":60}
my_dict["name"]
my_dict.get("age")
my_dict["gender"]="male"
my_dict

{'name': 'shukla', 'age': 60, 'gender': 'male'}

In [74]:
my_dict

{'name': 'shukla', 'age': 60, 'gender': 'male'}

In [75]:
# my_dict.pop("name")
my_dict.popitem()
my_dict

{'name': 'shukla', 'age': 60}

In [76]:
"name" in my_dict

True

In [78]:
dict={"name":"shashank","age":20,"gender":"male"}

In [81]:
for i in dict:
    print(i,dict[i])

name shashank
age 20
gender male

In [82]:
dict

{'name': 'shashank', 'age': 20, 'gender': 'male'}

In [85]:
print(dict.items())
print(dict.keys())
print(dict.values())

dict_items([('name', 'shashank'), ('age', 20), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['shashank', 20, 'male'])